<%- include("../partials/header") %> 
<%- include("../partials/navbar") %> 

<main class="container mt-5"> 

    <%- include("../partials/flash") %> 

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12" >
            <div class="card" style="width: 20rem;">
                <img src="<%= product.img %> " class="card-img-top" alt="image of product">
                <div class="card-body">
                    <h5 class="card-title"><%= product.name %></h5>
                    <h5 class="card-title">&#8377; <%= product.price %></h5>
                    <p class="card-text"><%= product.desc%></p>
                    <div class="mb-3">
                        <form action="/user/<%= product._id %>/cart" method="POST">
                            <button class="btn btn-secondary">Add To Cart</button>
                        </form>
                    </div>
                    <a href="#" class="btn btn-success">Buy</a>
                    <a href="/products/<%=product._id%>/edit" class="btn btn-warning">Edit</a>
                    <div class="mt-3">
                        <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h6 class="display-6 mb-3">Leave a Review</h6>
            <form class="needs-validation" action="/products/<%= product._id %>/review" method="POST" novalidate>
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="rating" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="rating" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="rating" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="rating" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="rating" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea class="form-control" name="comment" id="comment" cols="20" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Put a Review
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <% for(let review of product.reviews) { %> 
                <div class="card mt-3 mb-3" style="width: 100%;">
                    <div class="card-body">
                       <p class="starability-result" data-rating="<%= review.rating %>">
                        Rated: <%= review.rating %>  stars
                      </p>
                      <h6 class="card-subtitle mb-2 text-muted">by <%= review.user %> </h6>
                      <p class="card-text"><%= review.comment %></p>
                    </div>
                  </div>
            <% } %> 
        </div> 
    </div>
</main>

<%- include("../partials/footer") %> 
